@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    border-radius: 0;
}  
.settings{
    z-index: 100;
    height: 60vh;
    width: 80vw;
    position: fixed;
    background: rgb(78, 78, 78);
    transition: all .6s ease-in-out, opacity 1s ease-in-out;
    top: -100%;
    right: -100%;
    opacity: 0;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    align-items: center;
    box-shadow: 0 0 20px 1px black;
    border-radius: 10px;
    flex-direction: column;
    padding: 5px 10px;
    color: #fff;
}
.settings > img{
    align-self: flex-end;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.settings .accnames *{
    font-family:sans-serif;
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
}
.settings .accnames{
    display: flex;
    width: 100%;

}
.settings .accnames .accname{
    cursor: pointer;
    margin: 0 ;
    border: 1px solid #0fd8c7;
    background: rgb(36, 36, 36);
    border-radius: 10px;
    padding: 10px 10px;
    opacity: .7;
    transition: all .5s ease-in-out;

}
.settings .accnames .active{
    opacity: 1;
    border-radius: 10px 10px 0px 0px ;
}
.settings .accdivs .accdiv * {
    z-index: -10;
    opacity:0;
    transform:translateY(50%);
    transition: opacity .2s ease-in-out, transform .5s  ease-in-out;
}
.settings .accdivs{
    height: 100%;
    width: 100%;
    position: relative;
}
.settings .accdivs .accdiv{
    border: 5px solid #09998d;
    border-radius: 0 0 10px 10px;
    position:absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}
.settings .accdivs .active *{
    z-index: 100;
    opacity: 1;
    transform:translateY(0%);
}
.openedsettings{
    top: 10%;
    opacity: 1;
    right: 50%;
    transform: translateX(50%);
}
#head{
    text-align: center;
    background-color: rgb(124, 105, 70);

}
#head img{
    height: 10vh;
    align-self: flex-start;
    cursor: pointer;
} 
#head span {
    align-self: center;
    margin: 0 auto;
}
.nonsigned {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lobster', cursive;
    background: rgb(66, 66, 66);
    overflow: hidden;
}
.nonsigned *{
    transform:translateY(100%);
    opacity: 0;
    transition: opacity .5s ease-out, transform .6s ease-out;
}
.nonsigned .nonanimated{
    opacity: 1;
    transform: translateY(0%);
}
.nonsigned h1{
    font-family: inherit;
    font-size: 5rem;
    color: rgb(235, 235, 235);
    text-align: center;
}

.nonsigned h1::first-letter{
    font-family: 8rem;
    font-family: cursive;
}
.nonsigned button{
    appearance: none;
    background: #15fdd2;
    -webkit-appearance: none;
    padding: 20px 60px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#signout{
    -webkit-appearance: none;
    appearance: none;
    background-color: rgb(238, 125, 125);
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#signout img{
    margin-left: 3px;
}
.nonsigned #favlang{
    margin: 30px;
}
#favlang{
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background: rgb(0, 80, 67);
    width: 200px;
    padding: 10px 10px;
    text-align: center;
    align-self: center;
    color: #eee;
    font-size: 1.5rem;
}
#favlang option{
    padding: 10px 10px;
    color: #eee;
    font-size: 1.5rem;margin-bottom: 10px;
}
/* sec 11111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111 */
@media all and (min-width:601px){
.container{
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}


.res{
    overflow-y: scroll;
    height: 80vh;
    padding: 0 10px;
    background: rgb(87, 87, 87);
}.res div{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    background-color: #ea710b;
    width: fit-content;
    padding: 10px 5px;
    max-width:50vw;
    border-radius: 0px 10px 10px 10px;
    word-wrap: break-word;
}.res > div > .nameofSender{
    display: block;
    transform: translate(-1%, -50%);
    color: #353535;
}.res > div > p {
    color: rgb(233, 233, 233);
}.res .mineMsg{
    border-radius: 10px 10px 0px 10px;
    margin-left: auto;
    background: #8944e3;
}

.msgInput{
    height: 10vh;
    width: 100vw;
    display: flex;
}

.msgInput > input#theMsg{
    height: 10vh;
    width: 80vw;
    padding:0 10px;
    background: rgb(41, 41, 41);
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 0%;
}.msgInput > button#submit{
    height: 10vh;
    width: 20vw;
    align-self: center;
    cursor: pointer;
    border: 0;
    border-radius: 0;
    background: #006254;
    color: #fff;
}
#head span{
    color: #f7f7f7;
    text-align: center;
}
#head{
    width: 100vw;
    height: 10vh;
    display: flex;
    text-align: center;
    color: white;
    z-index: 50;
}

.res::-webkit-scrollbar{
    -webkit-appearance: none;
    appearance: none;
}
.res::-webkit-scrollbar-thumb{
    width: 5px;
    background: #8944e3;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 20px 12px 0px #8944e3, 0px -100vh 0px 100vh #186175, inset 0px 0px 11px 0px black;; 
}
.res::-webkit-scrollbar-track{
    width: 5px;
    background:rgb(51, 51, 51);
    border-radius: 10px 10px 10px 10px;
}
}



/* sec 222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222 */
@media all and (max-width: 600px) {
    
    .container{
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    
    .res{
        overflow-y: scroll;
        height: 70vh;
        padding: 0 10px;
        background: rgb(87, 87, 87);
    }.res div{
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        min-height: 50px;
        background-color: #ea710b;
        width: fit-content;
        padding: 10px 5px;
        max-width:50vw;
        border-radius: 0px 10px 10px 10px;
        word-wrap: break-word;
    }.res > div > .nameofSender{
        display: block;
        transform: translate(-1%, -20%);
        color: #353535;
    }.res > div > p {
        color: rgb(233, 233, 233);
    }.res .mineMsg{
        border-radius: 10px 10px 0px 10px;
        margin-left: auto;
        background: #8944e3;
    }
    
    .msgInput{
        height: 10vh;
        width: 100vw;
        display: flex;
    }
    
    .msgInput > input#theMsg{
        height: 10vh;
        width: 80vw;
        padding:0 10px;
        background: rgb(41, 41, 41);
        color: #ffffff;
        border: none;
        outline: none;
        border-radius: 0%;
    }.msgInput > button#submit{
        height: 10vh;
        width: 20vw;
        align-self: center;
        cursor: pointer;
        border: 0;
        border-radius: 0;
        background: #006254;
        color: #fff;
    }
    #head span{
        color: #f7f7f7;
        text-align: center;
    }
    #head{
        width: 100vw;
        height: 10vh;
        display: flex;
        text-align: center;
        color: white;
        z-index: 50;
    }
    
    .res::-webkit-scrollbar{
        -webkit-appearance: none;
        appearance: none;
    }
    .res::-webkit-scrollbar-thumb{
        width: 5px;
        background: #8944e3;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0px 20px 12px 0px #8944e3, 0px -100vh 0px 100vh #186175, inset 0px 0px 11px 0px black;; 
    }
    .res::-webkit-scrollbar-track{
        width: 5px;
        background:rgb(51, 51, 51);
        border-radius: 10px 10px 10px 10px;
    }
    
}

@media all and (max-width:828px){
        
    .nonsigned {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        font-family: 'Lobster', cursive;
        background: rgb(66, 66, 66);
    }
    .nonsigned h1{
        font-family: inherit;
        font-size: 2rem;
        transform: translateY(-100%);
        opacity: 1;
        animation: signin 0.6s ease-out;
        color: rgb(255, 255, 255);
    }@keyframes signin{
        0%{
            transform: translateY(0%);
            opacity: 0;
        }
    }
    .nonsigned h1::first-letter {
        font-family: cursive;
        font-size: 3rem;
        transform: translateY(-100%);
        opacity: 1;
        animation: signin 0.6s ease-out;
        color: rgb(255, 255, 255);
    }
    .nonsigned button{
        appearance: none;
        background: #15fdd2;
        -webkit-appearance: none;
        padding: 10px 40px;
        border-radius: 5px;
        transform: translateY(-50%);
        OUTLINE: 0;
        border: 0;
        cursor: pointer;
        font-size: 2rem;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

}
